.main_button{
    background-color: #343434;
    color: #f6f6f6;
}

.svg-icon{
    fill: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
    .main_button{
        background-color: #f6f6f6;
        color: #1e1e1e;
    }
    .svg-icon{
        fill: #1e1e1e;
    }
}
    